{% extends 'base.html' %}

{% block content %}

    <!-- Main Content: My Library -->
    <main class="container">
        <section class="library">
        <h2 class="category__title">My Library</h2>
        <div class="book-row">
            <!-- Book Card 1 -->
            {% for item in library %}
            <div class="book-card">
                <a href="{% url 'about_book' item.book.id %}"><img src="{{ item.book.image.url }}" alt="{{ item.book.title }}"></a>
            <div class="book-card__overlay">
                <div class="rating">★★★★☆</div>
                <div class="genres">
                    {% for genre in item.book.genres.all %}
                      {{ genre.genre }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                      No genres
                    {% endfor %}
                </div>
                <div class="library-buttons">
                <a href="{{ item.book.pdf.url }}" class="btn btn--info">Read Now</a>
                <a href="{% url 'remove_library' item.book.id %}" class="btn btn--secondary">Remove</a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        </section>
    </main>

{% endblock %}